<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='views/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
      
        <li><a href='/prueba'>prueba</a></li>
        <li><a href='/destacados'>destacados</a></li>
        <li><a href='/galeria'>galeria</a></li>
        <li><a href="/video">videos</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
