h2{
    color:red;/*color fuente*/
    text-transform: uppercase;/*mayuscula*/
    text-align:center ;/*alinear textos-centrado*/
    text-shadow: -3px 20px 9px rgba(0,0,0,0.6);
}
h1{
    
    font-family:cursive;
    padding: 20px;
    text-align: center;
    text-shadow: -3px 20px 9px rgba(0,0,0,0.6);
}
h3{
    color: blueviolet;

}
p{
    color:blueviolet;
    line-height: 50px;

}
.destacados{
    color: green;
    font-weight:bold;
    font-style:italic;
}
#caja1{
    background-color:crimson;
    box-shadow: 10px 126px 112px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 126px 112px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 126px 112px 0px rgba(0,0,0,0.75);
}
#caja2{
    background-color: orange;
    width: 100px;
    height: 100px;
    padding:20px;
    border: 5px solid black;
    
}
#caja3{
    background-color: darkslateblue;
    text-align:center;
}